# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
ORIGIN=""

# Postgres
POSTGRES_USER="root"
POSTGRES_PASSWORD="mysecretpassword"
POSTGRES_DB="local"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
